@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

#particles-js {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -99;
}

.hide {
  display: none;
}

html {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  padding: 80px 5%;
  width: 100%;
  background-color: #ff3806;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  left: 10%;
  right: 5%;
}

nav li {
  padding: 15px 35px;
  border-radius: 50px;
  background: #ff4242;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 200px;
}

nav li i {
  color: #ffffff;
}

nav li a {
  margin-left: 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #ffffff;
}

nav li a:hover {
  letter-spacing: 5px;
  text-decoration: none;
}

.events {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border-radius: 20px;
  background-color: #e0e5ec;
  width: 200px;
  margin: 50px 80px;
  padding: 5px 4%;
}

.card h5 {
  margin: 30px 20px;
  color: #323232;
  display: block;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Odibee Sans", cursive;
}

.card li {
  list-style-type: none;
  border: 1px solid #323232;
  border-radius: 50px;
  padding: 3px;
  color: #202020;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 15px 0px;
  cursor: pointer;
}

.card li:hover {
  background-color: #323232;
  color: white;
}

.card a {
  margin-top: 50px;
  display: block;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 5px 20px;
  color: #181818;
  text-align: center;
  background: #e0e5ec;
  -webkit-box-shadow: 9px 9px 16px #494949bb, -9px -9px 16px rgba(255, 255, 255, 0.89);
          box-shadow: 9px 9px 16px #494949bb, -9px -9px 16px rgba(255, 255, 255, 0.89);
}

.categories {
  height: 100px;
}

.card:nth-child(2) {
  background-color: #262626;
}

.card:nth-child(2) a,
.card:nth-child(2) h5,
.card:nth-child(2) li {
  color: white;
}

.card:nth-child(2) a {
  border-radius: 50px;
  background: #2d2d2d;
  -webkit-box-shadow: 9px 9px 16px #1b1b1b, -9px -9px 16px black;
          box-shadow: 9px 9px 16px #1b1b1b, -9px -9px 16px black;
}

/*-----------POP UP ------------*/
.pop-up {
  height: 90%;
  width: 90%;
  background-color: white;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 50px 5%;
  bottom: 5%;
  right: 5%;
  border-radius: 50px;
  z-index: 10000000000;
  -webkit-animation: zoomOut 1s;
          animation: zoomOut 1s;
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=event.css.map */