@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #21d4fd;
  background-image: linear-gradient(135deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#particles-js {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -99;
}

.hide {
  display: none !important;
}

html {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  padding: 80px 5%;
  width: 100%;
  // background-color: #21d4fd;
  // background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background: linear-gradient(-45deg, #ff4b2b, #ff416c, #23a6d5, #7f00ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

// navbar

nav {
  position: sticky;
  padding: 20px;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  left: 10%;
  right: 5%;
}

nav li {
  padding: 15px 35px;
  border-radius: 50px;
  background: #ff4242;
  z-index: 99;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 200px;
  i {
    color: #ffffff;
  }
  a {
    margin-left: 10px;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    color: #ffffff;
    &:hover {
      letter-spacing: 5px;
      text-decoration: none;
    }
  }
}

/*---------------- Events ----------------*/
.events {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  height: 300px;
  width: 280px;
  margin: 20px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: #e0e5ec;
  h1 {
    color: #001f3f;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 2em;
    font-family: "Odibee Sans", Arial, Helvetica, sans-serif;
  }
  .contests {
    button {
      border-radius: 20px;
      margin: 15px 0px;
      // border: 1px solid #001f3f;
      border: none;
      box-shadow: 9px 9px 16px #bec3c9, -9px -9px 16px #fff;
      background-color: #e0e5ec;
      width: 200px;
      padding: 10px 5px;
      font-size: 1em;
      cursor: pointer;
      transition: all 0.7s ease-in;
      &:hover {
        // background-color: #001f3f;
        box-shadow: inset 9px 9px 16px #bec3c9, inset -9px -9px 16px #fff;
        // color: #e0e5ec;
      }
    }
    margin-bottom: 15px;
  }

  a {
    padding: 3px 45px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #001f3f;
    color: whitesmoke;
    border: 1px solid #001f3f;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: white;
      color: #001f3f;
    }
  }
}

.card:last-child {
  height: 400px;
}
/*-----------POP UP ------------*/

.pop-up {
  height: 90%;
  width: 90%;
  background-color: #e0e5ec;
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 50px 5%;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
  // border: 1px solid #ff820e;
  // box-shadow: 5px 5px 16px #ff4242;
  z-index: 10000000000;
  // animation: zoomOut 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  button {
    display: block;
    padding: 15px 35px;
    border-radius: 50px;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px #bec3c9, -9px -9px 16px #ffffff;
    border: none;
    color: #001f3f;
    font-size: 1.09em;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    width: 200px;
    i {
      margin-right: 6px;
    }
    &:hover {
      letter-spacing: 5px;
    }
    &:active {
      box-shadow: inset 9px 9px 16px #bec3c9, inset -9px -9px 16px #ffffff;
    }
  }
  .model-container {
    position: absolute;
    left: 5%;
    border-radius: 10px;
    right: 5%;
    top: 20%;
    width: 90%;
    height: 70%;
    padding: 0px 5%;
    background: #e0e5ec;
    box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
