@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #21d4fd;
  background-image: linear-gradient(135deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#particles-js {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -99;
}

.hide {
  display: none;
}

html {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
  padding: 80px 5%;
  width: 100%;
  background: linear-gradient(-45deg, #ff4b2b, #ff416c, #23a6d5, #7f00ff);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  left: 10%;
  right: 5%;
}

nav li {
  padding: 15px 35px;
  border-radius: 50px;
  background: #ff4242;
  z-index: 99;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  width: 200px;
}

nav li i {
  color: #ffffff;
}

nav li a {
  margin-left: 10px;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #ffffff;
}

nav li a:hover {
  letter-spacing: 5px;
  text-decoration: none;
}

/*---------------- Events ----------------*/
.events {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border-radius: 10px;
  background-color: #e0e5ec;
  width: 300px;
  margin: 50px 60px;
  padding: 5px 4%;
  -webkit-animation: zoomOut 0.8s cubic-bezier(1, 0, 0, 1);
          animation: zoomOut 0.8s cubic-bezier(1, 0, 0, 1);
}

.card h5 {
  margin: 30px 20px;
  color: #323232;
  display: block;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Odibee Sans", cursive;
}

.card li {
  list-style-type: none;
  border: 1px solid #323232;
  border-radius: 50px;
  padding: 3px;
  color: #202020;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 15px 0px;
  cursor: pointer;
}

.card li:hover {
  background-color: #323232;
  color: white;
}

.card a {
  margin-top: 50px;
  display: block;
  margin-bottom: 10px;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 5px 20px;
  color: #181818;
  text-align: center;
  background: #e0e5ec;
  -webkit-box-shadow: 9px 9px 16px #494949bb, -9px -9px 16px rgba(255, 255, 255, 0.89);
          box-shadow: 9px 9px 16px #494949bb, -9px -9px 16px rgba(255, 255, 255, 0.89);
}

.categories {
  height: 100px;
  min-height: 100px;
}

.card:nth-child(2),
.card:nth-child(3) {
  background-color: #262626;
}

.card:nth-child(2) a,
.card:nth-child(2) h5,
.card:nth-child(2) li,
.card:nth-child(3) a,
.card:nth-child(3) h5,
.card:nth-child(3) li {
  color: white;
}

.card:nth-child(2) a,
.card:nth-child(3) a {
  border-radius: 50px;
  background: #2d2d2d;
  -webkit-box-shadow: 9px 9px 16px #202020, -9px -9px 16px #181818;
          box-shadow: 9px 9px 16px #202020, -9px -9px 16px #181818;
}

/*-----------POP UP ------------*/
.pop-up {
  height: 90%;
  width: 90%;
  background-color: #e0e5ec;
  position: fixed;
  top: 5%;
  left: 5%;
  padding: 50px 5%;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
  z-index: 10000000000;
  -webkit-animation: zoomOut 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: zoomOut 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pop-up button {
  display: block;
  padding: 15px 35px;
  border-radius: 50px;
  background: #e0e5ec;
  -webkit-box-shadow: 9px 9px 16px #bec3c9, -9px -9px 16px #ffffff;
          box-shadow: 9px 9px 16px #bec3c9, -9px -9px 16px #ffffff;
  border: none;
  color: #001f3f;
  font-size: 1.09em;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  width: 200px;
}

.pop-up button i {
  margin-right: 6px;
}

.pop-up button:hover {
  letter-spacing: 5px;
}

.pop-up button:active {
  -webkit-box-shadow: inset 9px 9px 16px #bec3c9, inset -9px -9px 16px #ffffff;
          box-shadow: inset 9px 9px 16px #bec3c9, inset -9px -9px 16px #ffffff;
}

.pop-up iframe {
  position: absolute;
  left: 5%;
  border-radius: 10px;
  right: 5%;
  top: 20%;
  width: 90%;
  height: 70%;
  background: #e0e5ec;
  -webkit-box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=event.css.map */