@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/*------global------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  outline: none;
}

html {
  color: white;
}

body {
  width: 100%;
  background-color: #000000;
}


.hide{
  display: none !important;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &:hover {
    letter-spacing: 5px;
  }
}

li {
  display: inline-block;
  list-style-type: none;
  margin-left: 20px;
  font-size: 0.8em;
}

/*-----Navigation-----*/

nav {
  position: sticky;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

nav .links {
  text-align: left;
  li:last-child {
    float: right;
  }
  li {
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    &:hover {
      background-color: #ff3d3d;
    }
    &:hover a {
      color: #fff;
    }
  }
}

.toggle-button{
  display: none;
  cursor: pointer;
}

.btnLogin {
  padding: 15px 35px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

/*----Header-----*/
header {
  margin: 50px 5% 0 5%;
}

/*-----bodyContent-----*/
.bodyContent {
  margin-top: 10px;
  border-radius: 50px;
  // background-color: #55b9f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    span {
      padding: 5px 10px;
      border-radius: 50px;
      background-color: black;
    }
  }
  .imageDiv {
    height: 350px;
    width: 350px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*-----footer-----*/

footer {
  margin-top: 10px;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  p {
    margin-top: 30px;

    a {
      color: #55b9f3;
    }
  }
  .footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    .footer-left {
      h3 {
        span {
          color: #55b9f3;
        }
      }
      .footer-icons {
        display: block;
        a {
          color: white;
          margin: 10px;
          display: inline-block;
          i {
            color: white;
          }
        }
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 40px;
      p {
        margin-left: 5px;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        .input {
          width: 350px;
          height: 40px;
          background-color: black;
          color: white;
          margin-bottom: 30px;
          border-radius: 50px;
          padding: 10px 20px;
          border: none;
          border-radius: 50px;
          background: #2d2d2d;
          box-shadow: inset 20px 20px 60px #262626,
            inset -20px -20px 60px #343434;
        }
        textarea {
          resize: none;
        }
        button {
          width: 150px;
          border-radius: 50px;
          background: #2d2d2d;
          box-shadow: 20px 20px 60px #262626, -20px -20px 60px #343434;
          height: 50px;
          border: none;
          color: white;
        }
      }
    }
  }
}

.continue-to-cgec {
  border-radius: 50px;
  background: #2d2d2d;
  box-shadow: inset 20px 20px 60px #262626, inset -20px -20px 60px #343434;
  padding: 5px 10px;
}

/* ----- Video ----- */

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
  filter: contrast(1.3);
}

/* --------- RESPONSIVE DESIGN -------- */
@media screen and (max-width: 1000px) {
  body{
    overflow-x: hidden;
  }

  /*-----Navbar-----*/
  nav {
    position: fixed;
    top: 20px;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 1s ease-in-out;
    li:last-child {
      float: right;
    }
    li {
      margin: 10px 0px;
      text-align: center;
      width: 300px;
      transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      &:hover {
        background-color: #ff3d3d;
      }
      &:hover a {
        color: #fff;
      }
    }
  }

  .toggle-button{
    // transform: scale(5);
    display: block;
  }

  .btnLogin {
    padding: 15px 35px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  }


  /*----Header-----*/
header {
  margin: 50px 5% 0 5%;
}

/*-----bodyContent-----*/
.bodyContent {
  margin-top: 10px;
  border-radius: 50px;
  // background-color: #55b9f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-left: 50px;
    width: 300px;
    line-height: 40px;
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    span {
      padding: 5px 10px;
      border-radius: 50px;
      background-color: black;
    }
  }
  .imageDiv {
    height: 250px;
    width: 250px;
    background-image: url("/images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  h1{
    width: 350px;
    
  }
}
}
